node_modules
frontend/.env.local
eventReadyBackend/.env
eventReadyBackend/node_modules
.env
eventReadyBackend/eventReadyAPI/__pycache__/__init__.cpython-312.pyc
eventReadyBackend/eventReadyAPI/__pycache__/admin.cpython-312.pyc
eventReadyBackend/eventReadyAPI/__pycache__/apps.cpython-312.pyc
eventReadyBackend/eventReadyAPI/__pycache__/middleware.cpython-312.pyc
eventReadyBackend/eventReadyAPI/__pycache__/models.cpython-312.pyc
eventReadyBackend/eventReadyAPI/__pycache__/serializers.cpython-312.pyc
eventReadyBackend/eventReadyAPI/__pycache__/urls.cpython-312.pyc
eventReadyBackend/eventReadyAPI/__pycache__/views.cpython-312.pyc
eventReadyBackend/eventReadyAPI/migrations/__pycache__/__init__.cpython-312.pyc
eventReadyBackend/eventReadyAPI/migrations/__pycache__/0001_initial.cpython-312.pyc
eventReadyBackend/eventReadyAPI/migrations/__pycache__/0002_alter_project_id.cpython-312.pyc
eventReadyBackend/eventReadyAPI/migrations/__pycache__/0003_alter_project_id.cpython-312.pyc
eventReadyBackend/eventReadyAPI/migrations/__pycache__/0004_rename_project_eventgeneralinfo.cpython-312.pyc
eventReadyBackend/eventReadyAPI/migrations/__pycache__/0005_alter_eventgeneralinfo_description_and_more.cpython-312.pyc
eventReadyBackend/eventReadyAPI/migrations/__pycache__/0006_alter_eventgeneralinfo_description_and_more.cpython-312.pyc
eventReadyBackend/eventReadyAPI/migrations/__pycache__/0007_marketingposter.cpython-312.pyc
eventReadyBackend/eventReadyAPI/migrations/__pycache__/0007_task.cpython-312.pyc
eventReadyBackend/eventReadyAPI/migrations/__pycache__/0008_remove_marketingposter_description_and_more.cpython-312.pyc
eventReadyBackend/eventReadyAPI/migrations/__pycache__/0008_rename_event_task_event_id.cpython-312.pyc
eventReadyBackend/eventReadyAPI/migrations/__pycache__/0009_alter_marketingposter_id.cpython-312.pyc
eventReadyBackend/eventReadyAPI/migrations/__pycache__/0009_alter_task_priority_alter_task_status.cpython-312.pyc
eventReadyBackend/eventReadyAPI/migrations/__pycache__/0010_marketingrecapphotos_marketingreminders.cpython-312.pyc
eventReadyBackend/eventReadyAPI/migrations/__pycache__/0011_marketingreminders_date_and_more.cpython-312.pyc
eventReadyBackend/eventReadyAPI/migrations/__pycache__/0012_marketingposter_event_marketingrecapphotos_event_and_more.cpython-312.pyc
eventReadyBackend/eventReadyAPI/migrations/__pycache__/0013_rename_event_marketingposter_event_id_and_more.cpython-312.pyc
eventReadyBackend/eventReadyAPI/migrations/__pycache__/0014_goals.cpython-312.pyc
eventReadyBackend/eventReadyAPI/migrations/__pycache__/0014_merge_20240225_1727.cpython-312.pyc
eventReadyBackend/eventReadyAPI/migrations/__pycache__/0015_merge_0014_goals_0014_merge_20240225_1727.cpython-312.pyc
eventReadyBackend/eventReadyAPI/migrations/__pycache__/0016_marketingposter_updated.cpython-312.pyc
eventReadyBackend/eventReadyAPI/migrations/__pycache__/0017_task_assigned_to_task_completion_date_and_more.cpython-312.pyc
eventReadyBackend/eventReadyAPI/migrations/__pycache__/0018_alter_task_completion_date_alter_task_deadline_date.cpython-312.pyc
eventReadyBackend/eventReadyAPI/migrations/__pycache__/0019_task_goal.cpython-312.pyc
eventReadyBackend/eventReadyAPI/migrations/__pycache__/0020_goals_tasks_alter_task_goal.cpython-312.pyc
eventReadyBackend/eventReadyAPI/migrations/__pycache__/0021_alter_goals_progress.cpython-312.pyc
eventReadyBackend/eventReadyAPI/migrations/__pycache__/0022_alter_goals_id.cpython-312.pyc
eventReadyBackend/eventReadyAPI/migrations/__pycache__/0023_alter_marketingposter_id_and_more.cpython-312.pyc
eventReadyBackend/eventReadyAPI/migrations/__pycache__/0024_alter_goals_name_budgetitem_budgetcategory_budget.cpython-312.pyc
eventReadyBackend/eventReadyAPI/migrations/__pycache__/0025_budget_categories_budget_items_budgetcategory_budget_and_more.cpython-312.pyc
eventReadyBackend/eventReadyAPI/migrations/__pycache__/0026_budget_name.cpython-312.pyc
eventReadyBackend/eventReadyAPI/migrations/__pycache__/0027_eventgeneralinfo_user.cpython-312.pyc
eventReadyBackend/eventReadyBackend/__pycache__/__init__.cpython-312.pyc
eventReadyBackend/eventReadyBackend/__pycache__/settings.cpython-312.pyc
eventReadyBackend/eventReadyBackend/__pycache__/urls.cpython-312.pyc
eventReadyBackend/eventReadyBackend/__pycache__/wsgi.cpython-312.pyc
eventReadyBackend/eventReadyAPI/__pycache__/__init__.cpython-312.pyc
eventReadyBackend/eventReadyAPI/__pycache__/admin.cpython-312.pyc
eventReadyBackend/eventReadyAPI/__pycache__/apps.cpython-312.pyc
eventReadyBackend/eventReadyAPI/__pycache__/models.cpython-312.pyc
eventReadyBackend/eventReadyAPI/__pycache__/urls.cpython-312.pyc
eventReadyBackend/eventReadyAPI/__pycache__/views.cpython-312.pyc
eventReadyBackend/eventReadyAPI/migrations/__pycache__/__init__.cpython-312.pyc
eventReadyBackend/eventReadyBackend/__pycache__/__init__.cpython-312.pyc
eventReadyBackend/eventReadyBackend/__pycache__/settings.cpython-312.pyc
eventReadyBackend/eventReadyBackend/__pycache__/urls.cpython-312.pyc
eventReadyBackend/eventReadyBackend/__pycache__/wsgi.cpython-312.pyc
