.landing-container {
    padding: 0 25px 0 25px;
}

.event-container {
    margin-top: 2%;
    padding: 2%;
    background-color: white;
    box-shadow: 3px 3px 10px 5px lightgray;
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
    width: 100%; 
    box-sizing: border-box;
}

.event-card {
    width: 500px;
    height: 250px;
    box-shadow: 3px 3px 10px 5px lightgray !important; 
    border-radius: 10px !important;
    background-color: white;
}