.tasks-card-container {
  /* border-radius: 10px; */
  box-shadow: 5px 5px 5px 2px grey;
  padding: 8px;
  color: #000;
  margin-bottom: 8px;
  height: 120px;
  max-width: 80px;
  display: grid !important;
}

.tasks-column {
  background-color: #f4f5f7;
  border-radius: 10px;
  width: 33%;
  height: 600px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border: 1px solid black;
  padding: 0 !important;
  margin-right: 5px !important;
  margin-left: 5px !important;
}

.tasks-column-title {
  padding: 8px;
  background-color: #009CDF;
  text-align: center;
  background-color: "lightblue";
  font-size: 24px;
  color: white;
  position: sticky;
  top: 0; 
  z-index: 1; 
}

.task-list {
  min-height: 300px;
}

.task-board {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.task-board-container {
  margin: 50px;
  background-color: #FFB000;
  height: 70vh;
  margin-top: 2%;
  padding: 2%;
  border-radius: 10px;
  box-shadow: 3px 3px 10px 5px lightgray;

}

.add-task-button {
  top: 5px;
  right: 5px;
  position: absolute !important;
}

.search-bar {
  background-color: white;
  width: 25%;
  border-color: black !important;
  margin-bottom: 20px  !important;
  margin-left: 10px !important;
}

.sort-by-dropdown {
  background-color: white;
  width: 10%;
  border-color: black !important;
  margin-bottom: 20px  !important;
  margin-left: 10px !important;
}