.tasks-card-container {
   border-radius: 10px;
   box-shadow: 5px 5px 5px 2px grey;
   padding: 8px;
   color: #000;
   margin-bottom: 8px;
   min-height: 90px;
   margin-left: 10px;
   margin-right: 10px;
  cursor: pointer;   
  display: flex;   
  justify-content: space-between;
  flex-direction: column;
;
}
.tasks-column {
  background-color: #f4f5f7;
  border-radius: 2.5px;
  width: 300px;
  height: 475px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border: 1px solid gray;
}
.tasks-column-title {
  padding: 8px;
  background-color: pink;
  text-align: center;
  background-color: "lightblue";
  position: "stick",
}
.task-list {
  min-height: 200px;
}