body, html {
  font-family: 'Roboto' !important;
}

.MuiTypography-body1 {
  font-family: 'Roboto' !important;
}
.MuiTypography-h6 {
  font-family: 'Roboto' !important;
}

.container {
  margin-top: 2%;
  padding: 2%;
  background-color: aliceblue;
  box-shadow: 3px 3px 10px 5px lightgray;
  display: inline-block;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;  
}

/* Styling for all scrollbars */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
